.logo{
    width: 85px;
    /*margin: 0px;*/
    /*border-bottom: 1px;*/
}
.navbar-brand{
    padding: 5px;
}

body{
    background: #f0f0f0;
}
.main{
    background: #fff;
    /*width: 800px;*/
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.page-title{
    text-align: center;
}
.navbar-header a img{
    width:47px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #f7f7f7;
    line-height:25px;
}
