.qa-list{
    list-style: none;
    padding-left: 0;
}
.qa-list li{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 10px 0;
}

.avatar-group{
    width: 38px;
    height: 100%;
    float: left;

}
.avatar-group .avatar{
    width: 40px;
    height: 40px;

}
.question-group{
    float: left;
    width: 90%;
    margin-left: 15px;
}
.question-title a{
    color: #259;
    font-weight: 700;
}

.question-info{
    text-align: right;
}
.question-info .question-author{
    margin-right: 20px;
}
.question-content{
    height: 8ch;
}
#delete_article{
    /*display: inline-block;*/
    float: right;
    margin-left: 20px;
    border-bottom: 20px;
}
#delete_article a{
    color: #fff;

}